@media screen and (min-width: 969px) {
    .app-bar {
        grid-template-columns: auto 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .hamburger {
        display: none;
    }

    .app-bar .btn-close {
        display: none;
    }

    .app-bar .logo-navbar {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .app-bar .navbar {
        position: static;
        width: 100%;
    }

    .app-bar .navbar ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width: 970px) {

    .app-bar {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        background-color: transparent;
        padding: 0;
    }

    .app-bar .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
    }

    .app-bar .logo-navbar {
        width: 25%;
    }

    .menu-navbar,
    .btn-navbar {
        flex-direction: row;
    }

    .menu-navbar {
        padding: 0;
    }

    .hero-content h2 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 22px;
    }

    .hero-content button {
        font-size: 18px;
    }

    .about-img img {
        width: 400px;
    }

    .about-content h2,
    .title-menu h2 {
        font-size: 2.5rem;
    }

    .about-content p {
        font-size: 22px;
    }

    .about-content button {
        padding: 10px 9px;
        width: 140px;
    }
}
