@media screen and (min-width: 969px) {
    .app-bar {
        grid-template-columns: auto 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .hamburger {
        display: none;
    }

    .app-bar .btn-close {
        display: none;
    }

    .app-bar .logo-navbar {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .app-bar .navbar {
        position: static;
        width: 100%;
    }

    .app-bar .navbar ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width: 970px) {

    .app-bar {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding: 0;
    }

    .app-bar .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
    }

    .app-bar .logo-navbar {
        margin-left: 0;
        width: 25%;
    }

    .menu-navbar,
    .btn-navbar {
        flex-direction: row;
    }

    .menu-navbar {
        padding: 0;
    }
}
