@media screen and (min-width: 768px) {
    .app-bar {
        grid-template-columns: auto 1fr auto;
        padding: 8px 32px;
    }

    .app-bar .hamburger {
        display: none;
    }

    .app-bar .logo-navbar {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .app-bar .navbar {
        position: static;
        width: 100%;
        background-color: #532E1C;
    }

    .app-bar .navbar ul li {
        display: inline-block;
    }

    .app-bar .navbar ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }
}

@media screen and (min-width: 769px) {

    .app-bar .navbar {
        display: flex;
        justify-content: space-around;
    }

    .menu-navbar,
    .btn-navbar {
        display: inline-block;
    }
}
