@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap&family=Galada&family=Open+Sans:wght@300&family=Lato:wght@300&family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #532E1C;
    --secondary-color: #C5A880;
    --accent-color: #E6D5B8;
    --white: #E6E6E6;
    --black: #0F0F0F;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/* 
body {
    background-color: #0F0F0F;
} */

.app-bar {
    height: 10vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.app-bar.transparent {
    background-color: transparent !important;
}

.app-bar.scrolled {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5) !important;
}

#close {
    display: flex;
    justify-content: flex-end;
}

.app-bar .hamburger {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.btn-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.app-bar .hamburger button,
.btn-close button {
    background-color: #532E1C;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 5px 8px;
    color: #C5A880;
}

.app-bar .logo-navbar {
    margin-left: 40px;
    font-weight: 700;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 1.5rem;
    font-family: 'Cinzel Decorative', cursive;
}

.app-bar .logo-navbar img {
    margin-right: 10px;
    padding: 5px;
    max-width: 30px;
}

.app-bar .navbar {
    position: absolute;
    top: 8vh;
    width: auto;
    top: -400%;
    display: inline-block;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
    row-gap: 10px;
    background-color: transparent;
}

.app-bar .navbar.open {
    top: 0;
    background-color: #532E1C;
    width: 100%;
    height: auto;
}

.app-bar .navbar.open ul li {
    padding: 14px 8px;
}

.app-bar .navbar ul li {
    list-style: none;
}

.app-bar .navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 4px;
}

.menu-navbar,
.btn-navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.menu-navbar {
    background-color: transparent;
}

.btn-navbar {
    justify-content: space-evenly;
}

.btn-navbar .signup,
.login {
    background-color: var(--primary-color);
    padding: 8px 14px;
    border-radius: 4px;
}

.btn-navbar a {
    color: var(--secondary-color);
}


.container-main {
    margin-top: -14vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    background-image: url('../img/background.png');
    background-position: bottom;
    background-size: cover;
    align-items: center;
}

.hero-content {
    color: var(--secondary-color);
    margin-left: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: right;
    width: 40%;
}

.hero-content h2 {
    padding-left: 10px;
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    color: #fff;
}

.hero-content p {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 300;
}

.image-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.hero-img-1,
.hero-img-2,
.hero-img-3 {
    width: 30%;
    height: 400px;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--accent-color);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}

.hero-img-1 {
    margin-top: 40px;
    background-image: url('../img/img-1.jpg');
}

.hero-img-2 {
    margin-bottom: 40px;
    background-image: url('../img/img-2.jpg');
}

.hero-img-3 {
    margin-top: 20px;
    background-image: url('../img/img-3.jpg');
}

.hero-img-1:hover,
.hero-img-2:hover,
.hero-img-3:hover {
    transform: scale(1.05);
}

.hero-content button {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 8px 14px;
    width: 40%;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.section-menu {
    /* background-image: url("../img/top-view-coffee-with-beans-table.jpg");
    background-position: top;
    background-size: cover; */
    width: 100%;
    height: 100vh;
}

.container-menus {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-menu h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: #532E1C;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background-color: var(--secondary-color);
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu-item img {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
}

.menu-item button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container-about {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about-img img {
    align-items: center;
    width: 500px;
}

.about-content {
    width: 50%;
    margin-left: 10px;
    padding: 20px 100px 20px 30px;
}

.about-content h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: #532E1C;
    font-size: 3rem;
}

.about-content p {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.about-content button {
    font-size: 1.5rem;
    padding: 12px 14px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.container-faq {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.faq {
    width: 30%;
}

.faq h1,
h6 {
    font-family: 'Cinzel Decorative', cursive;
}

.faq h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    padding-top: 10px;
    border-bottom: 4px solid var(--primary-color);
}

.faq h6 {
    font-size: 1.5rem;
}

.faq p {
    margin-top: 10px;
}

.questions-faq {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.questions-faq button {
    border: none;
    color: var(--white);
    background-color: #532E1C;
    padding: 11px 7px;
    width: 100%;
    text-align: left;
    height: 35px;
    position: relative;
    margin-top: 10px;
}

.questions-faq button #quest-icon {
    position: absolute;
    right: 10px;
}

.answer {
    background-color: #C5A880;
    color: #0F0F0F;
    padding: 11px 7px;
    height: auto;
    margin-top: 0;
}

.footer-container {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #242424;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
}

.about {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 10px;
}

.about img {
    height: 100%;
    max-width: 33px;
    max-height: 33px;
    padding-top: 2px;
}

.about h3 {
    font-family: 'Rock Salt', cursive;
    font-size: 1rem;
    margin-left: 10px;
}

.about p {
    font-family: 'Open Sans', sans-serif;
    flex-basis: 100%;
}


.footer-menus {
    font-family: 'Lato';
    display: flex;
    gap: 50px;
}

.quick-links {
    padding-left: 5px;
}

.quick-links h3,
.contact-us h3 {
    margin-bottom: 10px;
}

.quick-links ul li,
.contact-us ul li {
    margin-bottom: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.quick-links ul li a,
.contact-us ul li a,
.container-icon a {
    text-decoration: none;
    color: #fff;
}

#icon-link {
    margin-right: 5px;
}

.quick-links ul li a:hover,
.contact-us ul li a:hover,
#social-media:hover {
    color: #bababa;
}

.quick-links ul,
.contact-us ul {
    list-style: none;
}

.social-media h3 {
    margin-bottom: 10px;
}

.container-icon {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.container-icon a {
    min-width: 44px;
    min-height: 44px;
}

.container-icon a #social-media {
    padding: 5px;
    margin-right: 5px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    color: white;
    height: 8vh;
}

.copyright a {
    text-decoration: none;
    color: #C5A880;
}
